<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>jug-bg-bdd-web</display-name>

	<servlet>
		<servlet-name>main</servlet-name>
		<jsp-file>/jsp/index.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>bmiResult</servlet-name>
		<jsp-file>/jsp/bmi-result.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>bmiCalcServlet</servlet-name>
		<servlet-class>org.jug.bg.bdd.web.health.BMICalculatorServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>bmiResult</servlet-name>
		<url-pattern>/bmi-result</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>bmiCalcServlet</servlet-name>
		<url-pattern>/bmi</url-pattern>
	</servlet-mapping>
</web-app>